{% extends 'base.html' %}

{% block links %}
    
{% endblock links %}


{% block content %}
    <style>
            #wewe {
                text-align: center;
                text-decoration-thickness: 800;
            }

            #welcum {
                color: #4F6F52;
                border: 5px black;
                text-align: center;
                border-radius: 2px;
                text-align: center;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-decoration: underline;
            }

            #rofs {
                border: 10px;
                border-radius: 15px;
            }
    </style>
    <link href="/static/css/style.css" rel="stylesheet"  type="text/css">
    <h1 id="hoverText" id="wewe">Welcome</h1>
    <h2 id="welcum">To MP3 M4A FLAC WAV WMA AAC player 3D X Max Pro Lite Slim S2023 GOTY EDITION</h2>
    <br>
    <div id="rofs">
        <h2>Features:<br><br>-Viewing all music details at once on a single page
        <br><br>-Adding and editing individual authors<br><br>
        -Adaptive dropdown menu for various device types<br>
        </h2>
        <img src="../static/images/owo.jpg" alt="no">
    </div>
{% endblock content %}